.swipeContainer {
  // scroll-snap-type: y mandatory;
  overflow: auto;
  height: calc(100vh - 64px);
  // flex-basis: auto;
  // flex-grow: 1;
  touch-action: none;
}
.swipeContainer__child {
  // scroll-snap-align: center;
  // scroll-snap-stop: always;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
}
.swipeContainer__child:nth-child(even) {
  background-color: #121212;
}
