.swipeContainer {
  // scroll-snap-type: y mandatory;
  overflow: auto;
  height: calc(100vh - 64px);
  // flex-basis: auto;
  // flex-grow: 1;
  touch-action: none;
}
.swipeContainer__child {
  // scroll-snap-align: center;
  // scroll-snap-stop: always;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.swipeContainer__child:nth-child(even) {
  background-color: #121212;
}
.parallax-container {
  position: relative;
  overflow: hidden;
}

.landingPageSlide {
  padding: 90px 50px;
  max-height: 80vh;
  position: relative;
}
.landingPageSlide .MuiTypography-h4 {
  line-height: 1.5;
  text-align: center;
}
$slick-arrow-color: black;
$slick-dot-color: #e91e63;
$slick-dot-color-active: $slick-dot-color;
@import "./slick-theme.scss";
.slick-next,
.slick-prev {
  width: 35px;
  height: 35px;
}
.slick-next:before,
.slick-prev:before {
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.slick-slide {
  padding: 10px;
}
