.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Introduction-name{
  font-size: -webkit-xxx-large;
  font-weight: 900;
  font-family: 'Roboto Condensed',
  Helvetica,
  Arial,
  Lucida,
  sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .Introduction-logo {
    animation: Introduction-logo-spin  11s linear;
  }
  .Introduction-Rex{
    animation: Introduction-Rex-spin 11s linear;
  }
  .Introduction-Dreams{
    animation: Introduction-Dreams-spin 11s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Introduction-logo-spin {
  from {
    transform: translate3d(-90vw, 100vh, 70px);

  }
  to {
    transform: translateX(-3vw);
  }
}

@keyframes Introduction-Dreams-spin{
  from {
    transform: translate3d(65vw, 100vh, 70px);
    color: purple;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  to {
    transform: translateX(-3vw);
  }
}
@keyframes Introduction-Rex-spin{
  from {
    transform: translate3d(0vw, 100vh, 70px);
    color: red;
    font-size:smaller;
  }
  to {
    transform: translateX(-3vw);
  }
}