.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Introduction-name {
  font-size: -webkit-xxx-large;
  font-weight: 900;
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
}
.Introduction-name-small {
  font-size: -webkit-xx-large;
  font-weight: 1000;
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .Introduction-logo {
    animation: Introduction-logo-spin 11s linear;
  }
  .Introduction-Rex {
    animation: Introduction-Rex-spin 11s linear;
  }
  .Introduction-Dreams {
    animation: Introduction-Dreams-spin 11s linear;
  }
  .Home-first-segment {
    animation: Home-first-segment-spin 4s linear;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Introduction-logo-spin {
  from {
    transform: translate3d(-90vw, 100vh, 70px);
  }
  to {
    transform: translateX(-3vw);
  }
}

@keyframes Introduction-Dreams-spin {
  from {
    transform: translate3d(65vw, 100vh, 70px);
    color: purple;
    font-size: small;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  to {
    transform: translateX(-3vw);
  }
}
@keyframes Introduction-Rex-spin {
  from {
    transform: translate3d(0vw, 100vh, 70px);
    color: red;
    font-size: smaller;
  }
  to {
    transform: translateX(-3vw);
  }
}
@keyframes Home-first-segment-spin {
  from {
    transform: translate3d(0vw, 100vh, 70px);
    color: gray;
    font-size: smaller;
  }
  to {
    transform: translateX(-3vw);
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#stay-in-place {
  height: 100vh;
  width: 100%;
  background: #000000;
  position: relative;
}
.box {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.box #move-in-to-place {
  /* position: absolute; */
  bottom: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 5s, -webkit-transform 5s;
  transition: all 5s, transform 1s;
  background: black;
  opacity: 1;
}
.box .move-in-to-below {
  bottom: -100%;
  opacity: 0;
}
.box .move-in-to-above {
  bottom: 100%;
  opacity: 0;
}

.landing-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  opacity: 0.1;
}
.position-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
#parent-center {
  position: center;
}
.child-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
